# pass-2016 Wrangle

In this notebook, I will be cleaning data from 'pass-2016.csv'.

In [1]:
# import all packages and set plots to be embedded inline. Also, set all columns and rows to be displayed.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)


%matplotlib inline

### Various Functions

## Gather

In [2]:
# Load df into df called df_original. Make copy called df for analysis
df_original = pd.read_csv('pass-2016.csv')
df = df_original.copy()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      96 non-null     int64
 1   Player  96 non-null     object
 2   Tm      96 non-null     object
 3   Age     96 non-null     int64
 4   Pos     78 non-null     object
 5   G       96 non-null     int64
 6   GS      96 non-null     int64
 7   QBrec   54 non-null     object
 8   Cmp     96 non-null     int64
 9   Att     96 non-null     int64
 10  Cmp%    96 non-null     float64
 11  Yds     96 non-null     int64
 12  TD      96 non-null     int64
 13  TD%     96 non-null     float64
 14  Int     96 non-null     int64
 15  Int%    96 non-null     float64
 16  Lng     96 non-null     int64
 17  Y/A     96 non-null     float64
 18  AY/A    96 non-null     float64
 19  Y/C     81 non-null     float64
 20  Y/G     96 non-null     float64
 21  Rate    96 non-null     float64
 22  QBR     88 non-null     float64
 23  Sk      96 non-null     int64
 24  Yds.1   96 non-null     int64
 25  NY/A    96 non-null     float64
 26  ANY/A   96 non-null     float64
 27  Sk%     96 non-null     float64
 28  4QC     33 non-null     float64
 29  GWD     33 non-null     float64
dtypes: float64(14), int64(12), object(4)
memory usage: 22.6+ KB

## Assess
(1) Players have some sort of unique ID next to their names that is not needed.<br>
(2) The QBrec column contains 3 data points.

### Assessment 1

In [4]:
df['Player'].value_counts()

Antonio Morrison\MorrAn01       1
Aaron Rodgers*\RodgAa00         1
Paxton Lynch\LyncPa00           1
Jared Goff\GoffJa00             1
Cardale Jones\JoneCa01          1
Derek Carr*\CarrDe02            1
Jonathan Williams\WillJo07      1
Blake Bortles\BortBl00          1
EJ Manuel\ManuEJ00              1
Robert Griffin\GrifRo01         1
Drew Brees*\BreeDr00            1
Andy Dalton*\DaltAn00           1
Marqise Lee\LeexMa00            1
Eli Manning\MannEl00            1
Ryan Mallett\MallRy00           1
Jay Cutler\CutlJa00             1
Trevone Boykin\BoykTr00         1
Johnny Hekker*+\HekkJo00        1
Carson Palmer\PalmCa00          1
Carson Wentz\WentCa00           1
Dez Bryant*\BryaDe01            1
Case Keenum\KeenCa00            1
Josh McCown\McCoJo01            1
Tom Savage\SavaTo00             1
Jacoby Brissett\BrisJa00        1
Pharoh Cooper\CoopPh00          1
Kirk Cousins*\CousKi00          1
Matt Ryan*+\RyanMa00            1
Scott Tolzien\TolzSc00          1
Nick Foles\FoleNi00             1
Sam Bradford\BradSa00           1
Ryan Fitzpatrick\FitzRy00       1
Derek Anderson\AndeDe00         1
Mark Sanchez\SancMa00           1
Pat McAfee*\McAfPa44            1
Matt Barkley\BarkMa00           1
Marcus Mariota\MariMa01         1
Terrelle Pryor\PryoTe00         1
Matt McGloin\McGlMa01           1
Travis Benjamin\BenjTr00        1
Matt Schaub\SchaMa00            1
Cody Kessler\KessCo00           1
Ben Roethlisberger*\RoetBe00    1
Brett Hundley\HundBr00          1
Landry Jones\JoneLa02           1
Charlie Whitehurst\WhitCh02     1
Brian Hoyer\HoyeBr00            1
Doug Baldwin*\BaldDo00          1
Trevor Siemian\SiemTr00         1
Le'Veon Bell*\BellLe00          1
Jimmy Garoppolo\GaroJi00        1
Matt Cassel\CassMa00            1
Jeremy Maclin\MaclJe00          1
Chase Daniel\DaniCh00           1
Blaine Gabbert\GabbBl00         1
Brock Osweiler\OsweBr00         1
Tony Romo\RomoTo00              1
Cole Beasley\BeasCo00           1
Tom Brady*\BradTo00             1
Russell Wilson\WilsRu00         1
Alex Smith*\SmitAl03            1
Duke Johnson\JohnDu00           1
Andrew Luck\LuckAn00            1
Tress Way\WayxTr00              1
DeMarco Murray*\MurrDe00        1
Ryan Tannehill\TannRy00         1
Shaun Hill\HillSh00             1
Kellen Clemens\ClemKe00         1
Riley Dixon\DixoRi00            1
Cameron Meredith\MereCa00       1
Drew Stanton\StanDr00           1
Jon Ryan\RyanJo21               1
Colin Kaepernick\KaepCo00       1
Sean Mannion\MannSe00           1
Jerick McKinnon\McKiJe00        1
Justin Tucker*+\TuckJu00        1
Mike Glennon\GlenMi00           1
Dontari Poe\PoexDo00            1
Tyrod Taylor\TaylTy00           1
David Fales\FaleDa00            1
Cam Newton\NewtCa00             1
Philip Rivers*\RivePh00         1
Matt Moore\MoorMa01             1
Dak Prescott*\PresDa01          1
Kevin Hogan\HogaKe00            1
Connor Cook\CookCo00            1
Geno Smith\SmitGe00             1
Jameis Winston\WinsJa00         1
Bryce Petty\PettBr01            1
Jarvis Landry*\LandJa00         1
Matthew Stafford\StafMa00       1
Josh Huff\HuffJo00              1
Willie Snead\SneaWi00           1
Tanner McEvoy\McEvTa01          1
Larry Fitzgerald*\FitzLa00      1
Joe Flacco\FlacJo00             1
Name: Player, dtype: int64

### Assessment 2

In [5]:
df['QBrec'].value_counts()

1-0-0     5
1-4-0     4
1-1-0     4
0-1-0     3
9-7-0     2
7-8-0     2
11-5-0    2
8-7-0     2
7-9-0     2
8-6-0     2
10-4-0    1
0-8-0     1
8-5-0     1
3-8-0     1
0-3-0     1
1-10-0    1
11-1-0    1
5-11-0    1
1-3-0     1
2-1-0     1
4-5-0     1
8-7-1     1
0-7-0     1
1-5-0     1
10-5-1    1
11-4-0    1
6-8-0     1
6-9-1     1
0-2-0     1
8-8-0     1
3-13-0    1
13-3-0    1
6-8-1     1
12-3-0    1
10-6-0    1
2-0-0     1
Name: QBrec, dtype: int64

## Clean

#### Assessment 1 - Define

Here, I will first remove everything after the character \ from the column 'Player'. Then I will do the same with the * symbol.

#### Assessment 1 - Code

In [6]:
#Remove everything after the character \ from the column Player. Do the same with the * symbol.
df['Player'] = df['Player'].str.split('\\', n = 1).str[0]
df['Player'] = df['Player'].str.replace('*', '')

#### Assessment 1 - Test

In [7]:
df['Player'].unique()

array(['Drew Brees', 'Joe Flacco', 'Blake Bortles', 'Aaron Rodgers',
       'Carson Wentz', 'Kirk Cousins', 'Eli Manning', 'Carson Palmer',
       'Matthew Stafford', 'Philip Rivers', 'Jameis Winston',
       'Andy Dalton', 'Derek Carr', 'Sam Bradford', 'Russell Wilson',
       'Andrew Luck', 'Matt Ryan+', 'Cam Newton', 'Brock Osweiler',
       'Ben Roethlisberger', 'Alex Smith', 'Trevor Siemian',
       'Dak Prescott', 'Marcus Mariota', 'Tyrod Taylor', 'Tom Brady',
       'Ryan Fitzpatrick', 'Ryan Tannehill', 'Colin Kaepernick',
       'Case Keenum', 'Matt Barkley', 'Jared Goff', 'Brian Hoyer',
       'Cody Kessler', 'Josh McCown', 'Blaine Gabbert', 'Robert Griffin',
       'Jay Cutler', 'Bryce Petty', 'Matt Moore', 'Landry Jones',
       'Paxton Lynch', 'Tom Savage', 'Jimmy Garoppolo', 'Jacoby Brissett',
       'Nick Foles', 'Derek Anderson', 'Matt Cassel', 'Drew Stanton',
       'Scott Tolzien', 'Shaun Hill', 'Kevin Hogan', 'EJ Manuel',
       'Charlie Whitehurst', 'Connor Cook', 'Trevone Boykin',
       'Mark Sanchez', 'Matt McGloin', 'Geno Smith', 'Mike Glennon',
       'Cardale Jones', 'Brett Hundley', 'Terrelle Pryor', 'Ryan Mallett',
       'Sean Mannion', 'David Fales', 'Tony Romo', 'Matt Schaub',
       'Johnny Hekker+', 'DeMarco Murray', 'Doug Baldwin', 'Cole Beasley',
       "Le'Veon Bell", 'Travis Benjamin', 'Dez Bryant', 'Kellen Clemens',
       'Pharoh Cooper', 'Chase Daniel', 'Riley Dixon', 'Larry Fitzgerald',
       'Josh Huff', 'Duke Johnson', 'Jarvis Landry', 'Marqise Lee',
       'Jeremy Maclin', 'Pat McAfee', 'Tanner McEvoy', 'Jerick McKinnon',
       'Cameron Meredith', 'Antonio Morrison', 'Dontari Poe', 'Jon Ryan',
       'Willie Snead', 'Justin Tucker+', 'Tress Way', 'Jonathan Williams'],
      dtype=object)

#### Assessment 2 - Define

I will put each of the values that the digits represent into their own columns. The columns will be titled QBwin, QBlose, and QBtie. I will then delete the QBrec column.

#### Assessment 2 - Code

In [8]:
# Split the column Qbrec at each occurrence of the - symbol. Put each split into its own column and convert to a numeric datatype.
# Delete column Qbrec.
QBrec_split = df['QBrec'].str.split('-', n = 2)
df['QBwin'] = pd.to_numeric(QBrec_split.str[0])
df['QBlose'] = pd.to_numeric(QBrec_split.str[1])
df['QBtie'] = pd.to_numeric(QBrec_split.str[2])
df.drop('QBrec', axis = 1, inplace = True)

#### Assessment 2 - Test

In [9]:
df.head()

,Rk,Player,Tm,Age,Pos,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,Lng,Y/A,AY/A,Y/C,Y/G,Rate,QBR,Sk,Yds.1,NY/A,ANY/A,Sk%,4QC,GWD,QBwin,QBlose,QBtie
0,1,Drew Brees,NOR,37,QB,16,16,471,673,70.0,5208,37,5.5,15,2.2,98,7.7,7.8,11.1,325.5,101.7,65.1,27,184,7.18,7.27,3.9,2.0,4.0,7.0,9.0,0.0
1,2,Joe Flacco,BAL,31,QB,16,16,436,672,64.9,4317,20,3.0,15,2.2,95,6.4,6.0,9.9,269.8,83.5,52.7,33,243,5.78,5.39,4.7,2.0,2.0,8.0,8.0,0.0
2,3,Blake Bortles,JAX,24,QB,16,16,368,625,58.9,3905,23,3.7,16,2.6,51,6.2,5.8,10.6,244.1,78.8,42.8,34,197,5.63,5.23,5.2,1.0,1.0,3.0,13.0,0.0
3,4,Aaron Rodgers,GNB,33,QB,16,16,401,610,65.7,4428,40,6.6,7,1.1,60,7.3,8.1,11.0,276.8,104.2,73.8,35,246,6.48,7.24,5.4,0.0,2.0,10.0,6.0,0.0
4,5,Carson Wentz,PHI,24,QB,16,16,379,607,62.4,3782,16,2.6,14,2.3,73,6.2,5.7,10.0,236.4,79.3,49.4,33,213,5.58,5.09,5.2,1.0,1.0,7.0,9.0,0.0

In [10]:
# Put cleaned dataframe into master csv file
df.to_csv('pass-2016-master.csv', index = False)